@import "../star-jedi.css";
h1,h2{
    font-family: 'Star Jedi', arial;
    text-align: center;
    color: orange;
    margin: 50px 0 0 0;
}

:root{
    --grid-change: 33%;
}

body{
    margin: 0;
    padding: 0;
    background-color: #191919;
}

header{
    height: auto;
    width: 100%;
}

ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}
#main{
    flex-direction: row;
    width: 100%;
    min-height: 400px;
    flex: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}

#gridAjust{
    background: none;
    color: orange;
    outline: none;
    border: none;
    appearance: none;
    max-width: 100px;
    border-bottom: 1px solid orange;
}


.item{
    display: flex;
    width: auto;
    flex: 1 1 var(--grid-change);
    
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    margin: 5px;
    color: #ffffff;
    padding: 5px;
}

.info{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    pad: 5px;
    -webkit-box-shadow: -1px 0px 39px -7px rgba(50,50,50,0.5);
    -moz-box-shadow: -1px 0px 39px -7px rgba(50,50,50,0.5);
    box-shadow: -1px 0px 39px -7px rgba(50,50,50,0.5);
}

.more-info{
    cursor: pointer;
    text-decoration: underline;
    color: orange;
}
.planets{
    display: flex;
    flex-direction: column;
    margin: 0 50px;
}
.planets h2{
    color: #ffffff;
    text-decoration: underline 3px orange;
    margin: 0 0 50px 0;
    
}

button{
    background: none;
    color: orange;
    text-decoration: underline;
    border: none;

}

.line{

    height: 3px;
    width: 100%;
    background-color: #ffffff;
    border-radius:1px ;
    margin: 50px 0;
}

.s-line{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.s-line #search{
    background: none;
    color: orange;
    border: none;
    border-bottom: 1px solid orange;
    
    width: 50%;
    
}
.s-line #search:focus{
    outline: none;
}

.s-line #searchBtn{
    background: orange;
    border:none;
    color: #191919;

    
}

.solo{
    color: #ffffff;
}

.s-line #searchBtn:hover{
    cursor: pointer;
    outline: none;
}
.s-line #searchBtn:active{
    outline: none;
}
.s-line #searchBtn:focus{
    outline: none;
}

.Fullinfo{
    position: fixed;
    top: 50%;
    right: 50%;
    background-color: #232323;
    border: 1px solid orange;
    width: 400px;
    height: 400px;
}

#Options{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#Options > li >button {
    padding: 5px;
    color: orange;
    background: none;
    min-width: 120px;
    margin: 0 20px;
}

#Options > li >button:hover{
    background: orange;
    color: #191919; 
}

#optionTitle{
   
}

#main .info-wrapper{
    color: #ffffff;
}


#main .title-nav{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    
}
#main .title-nav h3{
    margin: 20px 0;

}
#planetInfoBlock{
    display: none;
    position: fixed;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    top: 50%;
    min-width: 800px;
    min-height: 600px;
    left: 50%;
    width: 100%;
    height: 100%;
    padding: 20px 50px;
    background: #232323;
    color: #ffffff;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.info-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#planetInfoBlock .title-nav{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.info-blocks{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.title-nav h3{
    font-size: 30px;
    font-family: 'Star Jedi', arial;
    padding: 0 50px ;
}
.title-nav button{
    padding: 0 50px;
}
.title-nav h3 p{
    font-size: 10px;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.info-blocks h4{
    text-decoration: underline 2px orange;
    font-family: 'Star Jedi', arial;
    letter-spacing: 2px;
}

.info-blocks .left{
    width: 40%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 50px;

}
.info-blocks .left .spec-sec > li{
    margin: 5px;
}
.info-blocks .left .spec-sec > li>span{
    text-decoration: underline 1px orange;
}
.info-blocks .right{
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 50px;

}
.info-blocks .right .res{
    margin: 0 10px;
    flex: 1 1 25%
}
button:hover{
    cursor: pointer;
}

